@model TicketViewModel

<h2>Ticket Details</h2>

<div>
    <p>PerformanceId: @Model.PerformanceId</p>
    <p>Seat Number: @Model.SeatNumber</p>
    <p>Status: @Model.Status</p>
    <p>Status: @Model.Booking.UUID</p>
</div>